
/*------Log-In------*/
.login-box{
    width: auto;
    height: auto;
    margin: 0rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0rem;
    border: 1px solid #ccc;
    border-top: none;
}

.login-box p{
    text-align: center;
    color: black;
    font-size: medium;
    margin-top: -0.5rem;
}

.login-box p a{
    color: #3083bb;
}
