
/*------Sign-Up------*/
.signup-box{
    display: block;
    width: auto;
    height: auto;
    margin: 0rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0rem;
    border: 1px solid #ccc;
    border-top: none;
}

.signup-box p{
    text-align: center;
    color: black;
    padding: 0.5rem;
    font-size: medium;
    margin: 0;
}

.signup-box p a{
    color: #3083bb;
}

.checkboxLabel{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.5rem;
}

h5{
    background-color: gray;
    color: rgb(229, 255, 0);
    font-size: medium;
    margin: 1rem;
    text-align: center;
}