asgiref==3.4.1
Django==3.2.7
mysqlclient @ file:///C:/Users/admin/Documents/Universidad/Oto%C3%B1o%202021/Servicio%20Social/Proyecto/mysqlclient-1.4.6-cp37-cp37m-win32.whl
pytz==2021.3
sqlparse==0.4.2
typing-extensions==3.10.0.2
django-phonenumber-field[phonenumbers]==6.0.0
Babel==2.8.0