{% extends 'webpage/base.html' %}

{% block title %}Biomarker Comparison{% endblock title %}

{% block content %}
    {% comment %} Biomarker tab {% endcomment %}
    <div class="tab-content" id="Biomarker" style="display: block;">
        <h2>Biomarker</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ratione, nobis aliquam impedit
            voluptatum laborum ipsa reprehenderit aliquid architecto fugiat praesentium. Facilis ipsam iure
            officiis. Facilis iusto suscipit reiciendis nesciunt.</p>

        <form action="/BCDSaliva/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button>Upload</button>
        </form>
    </div>
{% endblock content %}