{% extends 'webpage/base.html' %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'webpage/style.css' %}">
    <link rel="stylesheet" href="{% static 'webpage/login.css' %}">
{% endblock css_files %}

{% block content %}
    {% comment "" %} Login Area {% endcomment %}
    <div class="login-box" id="Login">
        <h1>Log In</h1>
        <h4>If you already have an account, please log in to upload your biomarker file and access other data.</h4>

        <form action="">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <input type="button" value="Log In">
        </form>
        
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here.</a></p>

    </div>

    
{% endblock content %}