{% extends 'webpage/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'webpage/style.css' %}">
    <link rel="stylesheet" href="{% static 'webpage/login.css' %}">
{% endblock css_files %}

{% block content %}
    {% comment "" %} Login Area {% endcomment %}
    <div class="login-box" id="Login">
        <h1>{% trans "Log In" %}</h1>
        <h4>{% trans "If you already have an account, please log in to upload your biomarker file and access other data." %}</h4>

        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">{% trans "Username:" %}</label>
            <input type="username" name="username" id="username" required>
            <label for="password">{% trans "Password:" %}</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Log In">
        </form>
        
        {% for message in messages %}
            <h5>{{message}}</h5>
        {% endfor %}



        <p>{% trans "Don't have an account? " %}<a href="{% url 'webpage:signup' %}">{% trans "Sign up here." %}</a></p>

    </div>

    
{% endblock content %}