{% extends 'webpage/base.html' %}

{% block title %}Patients{% endblock title %}

{% block content %}
    {% comment %} Patients tab {% endcomment %}
    <div class="tab-content" id="Patients" style="display: block;">
        <h2>Patients</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ratione, nobis aliquam impedit
            voluptatum laborum ipsa reprehenderit aliquid architecto fugiat praesentium. Facilis ipsam iure
            officiis. Facilis iusto suscipit reiciendis nesciunt.</p>
        <p>Login area</p>
        <p>To upload your biomarkers please log in</p>

    </div>
{% endblock content %}