{% extends 'webpage/base.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block css_files %}<link rel="stylesheet" href="{% static 'webpage/style.css' %}">{% endblock css_files %}

{% block content %}
    {% comment %} Biomarker tab {% endcomment %}
    <div class="tab-content" id="PrivacyPolicy">
        <h1>Privacy Policy</h1>
        <p>Solicitud para la autorización de datos sociodemográficos, personales y de salud de pacientes con el diagnóstico de cáncer para conocer las estrategias de afrontamiento.

P R E S E N T E

Por medio de la presente, las que suscriben Carolina Tejeda González e Isnayana Alonso García estudiantes de séptimo semestre de la Licenciatura en Enfermería de la Universidad de las Américas Puebla, nos dirigimos a usted de la manera más atenta para solicitar su consentimiento y autorización para poder realizar la encuesta enfocada en estrategias de afrontamiento en pacientes con el diagnóstico de  cáncer y sus familiares.
El objetivo del mismo se basa en proponer el diseño de una aplicación móvil enfocada en estrategias de afrontamiento para pacientes con el diagnóstico de cáncer y sus familiares. Cabe mencionar que, si usted acepta dicha solicitud, sus datos e información personal serán resguardados confidencialmente, es por ello que no se realizará un mal uso de los mismos, se utilizarán con fines académicos, cumpliendo con las consideraciones bioéticas, sin más por el momento, agradecemos su atención ante dicha solicitud.</p>

    </div>
{% endblock content %}