{% extends 'webpage/base.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block css_files %}<link rel="stylesheet" href="{% static 'webpage/style.css' %}">{% endblock css_files %}

{% block content %}
    {% comment %} Biomarker tab {% endcomment %}
    <div class="tab-content" id="PrivacyPolicy">
        <h1>Privacy Policy</h1>
        <p>
            Request for authorization of sociodemographic, personal and health data of patients with a diagnosis of cancer in order to compute their biomarkers using saliva.
            We, the undersigned researchers, are writing to you to request your consent and authorization to colect data focused on extracting biomarker data for the detection of cancer using saliva samples.
            It is worth mentioning that, if you accept this request, your personal data and information will be kept confidential, that is why there will be no misuse of them, they will be used for research purposes, complying with bioethical considerations, without further ado, we thank you for your attention to this request.
        </p>
    </div>
{% endblock content %}