{% extends 'webpage/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    {% comment "" %} Sign Up Area {% endcomment %}
    <div class="signup-box" id="Signup">
        <h1>Sign Up</h1>
        <h4>Sign up to upload your biomarker file and access other features</h4>
            <form action="">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
                <label for="surname1">Surname 1: </label>
                <input type="text" name="surname1" id="surname1">
                <label for="surname2">Surname 2*: </label>
                <input type="text" name="surname2" id="surname2">
                <label for="age">Age: </label>
                <input type="number" name="age" id="age">
                <label for="gender">Gender: </label>
                <input type="radio" name="gender" id="gender" value="Male"> Male
                <input type="radio" name="gender" id="gender" value="Female"> Female
                <input type="radio" name="gender" id="gender" value="Other"> Other
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                <label for="passwordconf">Confirm Password: </label>
                <input type="password" name="passwordconf" id="passwordconf">
                <br>
                <p>*Optional.</p>
                <input type="button" value="Sign Up">
            </form>
            
            <p>By creating your account you agree to the <br> 
                <a href="#">Terms and conditions</a> and <a href="#">Privacy Policy</a>
            </p>
    </div>

    <p class="login-p">Already have an account? <a href="{% url 'login' %}">Login Here</a></p>

{% endblock content %}