{% extends 'webpage/base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'webpage/style.css' %}">
    <link rel="stylesheet" href="{% static 'webpage/signup.css' %}">
{% endblock css_files %}

{% block content %}
    {% comment "" %} Sign Up Area {% endcomment %}
    <div class="signup-box" id="Signup">
        <h1>Sign Up</h1>
        <h4>Sign up to upload your biomarker file and access other features</h4>
            <form action="">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">
                <label for="surname1">Surname 1: </label>
                <input type="text" name="surname1" id="surname1">
                <label for="surname2">Surname 2 (Optional): </label>
                <input type="text" name="surname2" id="surname2">
                <label for="dob">Date of birth </label>
                <input type="date" name="dob" id="dob">
                <label for="gender">Gender: </label>
                <input type="radio" name="gender" id="gender" value="Male"> Male
                <input type="radio" name="gender" id="gender" value="Female"> Female
                <input type="radio" name="gender" id="gender" value="Other"> Other
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                <label for="passwordconf">Confirm Password: </label>
                <input type="password" name="passwordconf" id="passwordconf">
                
                <input type="checkbox" name="checkbox" id="checkbox">
                <label class="checkboxLabel" for="terms">By checking the box you acknowledge that you have reviewed and agree to the <br>
                    <a href=" {% url 'privacy-policy' %} ">Terms of Service</a> and <a href=" {% url 'privacy-policy' %} ">Privacy Policy</a>.
                </label>

                <input type="button" value="Sign Up">
            </form>
            
            <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>

    </div>

    

{% endblock content %}