{% extends 'webpage/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "User Profile" %}{% endblock title %}

{% block css_files %}<link rel="stylesheet" href="{% static 'webpage/style.css' %}">{% endblock css_files %}

{% block content %}
    {% comment %} Biomarker tab {% endcomment %}
    <div class="tab-content" id="UserProfile">
        {% if user.is_authenticated %}
            {% if user.id == patientprofile.user.id %}
                <h1>{% trans "User Profile" %}</h1>
                
                <p>{% trans "Username" %}: {{page_user.user}}</p>
                <p>{% trans "Email" %}: {{user.email}}</p>
                <p>{% trans "Name" %}: {{page_user.name}}</p>
                <p>{% trans "Surname" %} 1: {{page_user.surname_1}}</p>
                
                {% if page_user.surname_2 %}
                    <p>{% trans "Surname" %} 2: {{page_user.surname_2}}</p>
                {% endif %}
                
                <p>{% trans "Date of birth" %}: {{page_user.date_of_birth}}</p>
                <p>{% trans "Gender" %}: {{page_user.gender}}</p>
                <p>{% trans "Level of education" %}: {{page_user.level_of_education}}</p>
                <p>{% trans "Country" %}: {{page_user.country}}</p>
                <p>{% trans "State" %}: {{page_user.state}}</p>
                <p>{% trans "Occupation" %}: {{page_user.occupation}}</p>
                <p>{% trans "Monthly income" %}: {{page_user.monthly_income}}</p>
                <p>{% trans "Phone number" %}: {{page_user.phone_number}}</p>
                
            
            {% else %}

            <h1>{% trans "You are not the correct user for this profile" %}</h1>

            {% endif %}

        {% else %}

        <h1>{% trans "You have to log in to see this page" %}</h1>

        {% endif %}
    </div>
{% endblock content %}