{% load static %}
<footer class="footer">
    <nav>
        <a href="https://www.udlap.mx/web/" target="_blank" rel="noopener noreferrer">UDLAP</a> |
        <a href="https://www.ipn.mx/" target="_blank" rel="noopener noreferrer">IPN</a> |
        <a href="https://www.qmul.ac.uk/" target="_blank" rel="noopener noreferrer">Queen Mary</a>
    </nav>
    <span>Breast Cancer Detection through Saliva</span>
    <span>Hello, {{request.user}}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
</footer>