{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="horizontal-navbar">
    <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}><a href=" {% url "webpage:home" %} ">{% trans "Home" %}</a></li>
    <li {% if request.resolver_match.url_name == 'biomarker-comparison' %}class="active"{% endif %}><a href=" {% url "webpage:biomarker-comparison" %} ">{% trans "Biomarker Comparison" %}</a></li>
    {% if user.is_authenticated %}
        <li {% if request.resolver_match.url_name == 'medical-information' %}class="active"{% endif %}><a href=" {% url "webpage:medical-information" user.patientprofile.id %} ">{% trans "Medical Information" %}</a></li>
    {% else %}
        <li {% if request.resolver_match.url_name == 'medical-information-nologin' %}class="active"{% endif %}><a href=" {% url "webpage:medical-information-nologin"  %} ">{% trans "Medical Information" %}</a></li>
    {% endif %}
    
    <li {% if request.resolver_match.url_name == 'about-us' %}class="active"{% endif %}><a href=" {% url "webpage:about-us" %} ">{% trans "About Us" %}</a></li>
    <li {% if request.resolver_match.url_name == 'donate' %}class="active"{% endif %}><a href=" {% url "webpage:donate" %} ">{% trans "Donate" %}</a></li>

    {% if user.is_authenticated %}


        <div class="dropdown-navbar">
            <li class="dropli">{{user.patientprofile.name}}'s Profile</li>
            
            <div class="dropdown-content">
                <a href=" {% url 'webpage:show-profile' user.patientprofile.id %} ">{% trans "Profile Details" %}</a>
                <a href=" {% url 'webpage:edit-profile' user.patientprofile.id %} ">{% trans "Edit Profile" %}</a>
                <a href="{% url 'webpage:logout' %}">Logout</a>
            </div>
            
        </div>
        
    
    {% else %}

        <li style="float: right; background-color: #225F87"><a style="color: white;" href=" {% url "webpage:signup" %} ">{% trans "Sign Up" %}</a></li>
        <li {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %} style="float: right"><a href=" {% url "webpage:login" %} ">{% trans "Log In" %}</a></li>

    {% endif %}

    <div class="dropdown-navbar">
        {% if LANGUAGE_CODE == 'en' %}
            <li class="dropli-language"><a href="/en/BCDSaliva/"> <img id="langFlag" src="{% static 'webpage/images/Flag_of_the_United_States.svg' %}" alt=""> {% trans "English" %}</a></li>
                
            <div class="dropdown-content">
                
                <a href="/es/BCDSaliva/"> <img id="langFlag" src="{% static 'webpage/images/1280px-Flag_of_Mexico.svg.png' %}" alt=""> {% trans "Spanish" %}</a>

            </div>
        {% elif LANGUAGE_CODE == 'es' %}
            <li class="dropli-language"><a href="/es/BCDSaliva/"> <img id="langFlag" src="{% static 'webpage/images/1280px-Flag_of_Mexico.svg.png' %}" alt=""> {% trans "Spanish" %}</a></li>
                
            <div class="dropdown-content">
                <a href="/en/BCDSaliva/"> <img id="langFlag" src="{% static 'webpage/images/Flag_of_the_United_States.svg' %}" alt=""> {% trans "English" %}</a>

            </div>
        {% endif %}
            
            
    </div>

</ul>