<ul class="horizontal-navbar">
    <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}><a href=" {% url "home" %} ">Home</a></li>
    <li {% if request.resolver_match.url_name == 'biomarker-comparison' %}class="active"{% endif %}><a href=" {% url "biomarker-comparison" %} ">Biomarker Comparison</a></li>
    {% if user.is_authenticated %}
        <li {% if request.resolver_match.url_name == 'patients' %}class="active"{% endif %}><a href=" {% url "patients" user.patientprofile.id %} ">Patients</a></li>
    {% else %}
        <li {% if request.resolver_match.url_name == 'patients' %}class="active"{% endif %}><a href=" {% url "patients-nologin"  %} ">Patients</a></li>
    {% endif %}
    
    <li {% if request.resolver_match.url_name == 'about-us' %}class="active"{% endif %}><a href=" {% url "about-us" %} ">About Us</a></li>
    <li {% if request.resolver_match.url_name == 'donate' %}class="active"{% endif %}><a href=" {% url "donate" %} ">Donate</a></li>

    {% if user.is_authenticated %}


        <div class="dropdown-navbar">
            <li class="dropli">{{user.patientprofile.name}}'s Profile</li>
            
            <div class="dropdown-content">
                <a href=" {% url 'show-profile' user.patientprofile.id %} ">Profile Details</a>
                <a href=" {% url 'edit-profile' user.patientprofile.id %} ">Edit Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            
        </div>
        
    
    {% else %}

        <li style="float: right; background-color: #225F87"><a style="color: white;" href=" {% url "signup" %} ">Sign Up</a></li>
        <li {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %} style="float: right"><a href=" {% url "login" %} ">Log In</a></li>

    {% endif %}
</ul>